@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 221 8% 10%;
    --card: 0 0% 100%;
    --card-foreground: 221 8% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 8% 10%;
    --primary: 221 8% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 8% 96%;
    --secondary-foreground: 221 8% 10%;
    --muted: 221 8% 96%;
    --muted-foreground: 221 8% 46%;
    --accent: 194 100% 65%;
    --accent-foreground: 221 8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 8% 89.8%;
    --input: 221 8% 89.8%;
    --ring: 194 100% 65%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 5% 10%;
    --foreground: 0 0% 98%;
    --card: 210 5% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 210 5% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 221 8% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 5% 15%;
    --muted-foreground: 221 8% 70%;
    --accent: 194 100% 65%;
    --accent-foreground: 210 5% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 5% 20%;
    --input: 210 5% 20%;
    --ring: 194 100% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
